@import url("https://use.typekit.net/kvx8phn.css");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "tekton-pro",sans-serif;
}

:root{
    --rouge: #f16262;
    --violet: #45509D;
    --blanc: #fff;
    --gris: #262626;
    --color5: #F7F7F8;
}

p{
    color: #7d7c83;
    margin-bottom: 1rem;
}

a{
    text-decoration: none;
    color: white;
}

.post-content-view,
.blog {
    padding: 40px;
    width: 600px;
    max-width: 100%;
    margin: auto;
}
.section{
    padding: 10%;
}
